<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url("luke-chesser-IGtutkXikuc-unsplash.jpg");
            width: 100%;.jpg
            height: 100%;
    /*background-color: #560bad;*/
    }
    a {
        color: #c5c4c5;
        font-size: 40px;
    }
    div {
        text-align: center;
    }
    </style>
</head>
<body>
    <div>
    {{!-- <img src="luke-chesser-eICUFSeirc0-unsplash.jpg" alt="hello"/> --}}
    <a href="http://localhost:3000/">Scrubsolace</a>
    </div>
</body>
</html>