<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./login.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./login.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      {{! <img src="luke-chesser-eICUFSeirc0-unsplash.jpg" alt="hello"/> }}
      <a href="http://localhost:3000/">Scrubsolace</a>
      <a href="http://localhost:3000/" id="entry">Click here to enter the
        product-page!</a>
    </div>
  </body>
</html>