body {
  /* background-color: rgb(146, 210, 231); */
  background-color: #d4e7ff;
}
a {
  text-decoration: none;
  font-family: "Cookie", cursive;
  font-size: 50px;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
form {
  margin-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.login-page input {
  font-size: 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid transparent;
  font-family: "Brygada 1918", serif;
}
.login-page label {
  font-size: 25px;
  font-family: "Brygada 1918", serif;
}
.login-page button {
  cursor: pointer;
  font-family: "Brygada 1918", serif;
  font-size: 20px;
  display: flex;
  padding-left: 10px;
  border-radius: 5px;
  border: 2px solid transparent;
  padding-right: 10px;
}

#entry {
  margin-top: 170px;
  font-family: "Brygada 1918", serif;
  font-size: 40px;
}
#entry > :hover {
  transition: 0.2s;
  transition: transform 450ms;
}
