<div class="navbar navbar-expand-lg navbar-ark fixed-top">
    <div class = "container">
        <a href="#">Scrubsolace</a>
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>